.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info >button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    background-color: #FF9900;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
    
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
    margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
